<div class="text-center " style="margin-top: 300px">
  <h1> Welcome Administrator</h1>
  <div class="row d-flex justify-content-center mt-3">
    <button type="button" class="btn btn-outline-indigo" onclick="window.location.href='/admin/new'">Create Account</button>

    <button type="button" class="btn btn-outline-cyan">View Accounts</button>

  </div>
  <div class="row d-flex justify-content-center">
    <button type="button" class="btn btn-outline-danger">Sign Out</button>
  </div>
</div>