<div class="container " style="width: 500px ;margin-top: 200px" >
  <div class="card">

    <h5 class="card-header indigo white-text text-center py-4">
      <strong>Deposit</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

      <!-- Form -->
      <form class="text-center" style="color: #757575;" action="/user/deposit/action" method="post">

        <div class="md-form">
          <input type="number" id="deposit_amount" name="deposit_amount" class="form-control">
          <label for="deposit_amount">Amount to be deposited...</label>
        </div>


        <!-- Deposit button -->
        <button class="btn btn-outline-indigo btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Deposit</button>


      </form>
      <!-- Form -->

    </div>

  </div>
</div>

