<div class="container text-center " style="margin-top: 130px">
  <% flash.each do |key, value| %>
    <div class="alert <%= bootstrap_class_for(key) %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%=  value  %>
    </div>
  <% end %>
</div>

<div class="text-center " style="margin-top: 200px ">

  <h1>Current Balance : <%=@account.balance %></h1>

  <div class="row d-flex justify-content-center mt-3">

    <button type="button" class="btn btn-outline-indigo" onclick="window.location.href='/user/deposit'">Deposit</button>

    <button type="button" class="btn btn-outline-cyan" onclick="window.location.href='/user/withdraw'">Withdraw</button>

    <button type="button" class="btn btn-outline-amber" onclick="window.location.href='/user/transfer'">Transfer</button>

  </div>
  <div class="row d-flex justify-content-center">
    <button type="button" class="btn btn-outline-danger" onclick="window.location.href='/sessions/destroy'">Sign Out</button>
  </div>
</div>